<%= provide(:title,  "About") %>

<%= render 'partials/header' %>

<main class="container">
  <h2>
    About Alex Heil
  </h2>
  <article>
    About me

    my life and

    some other shit
  </article>
</main>
