<%= provide(:title,  "Contact") %>

<%= render 'partials/header' %>

<main class="container">
  <section class="post">
    <h2>
      Contact
    </h2>
    <article>
      Forms are useless. Contact me on Twitter <a href="https://twitter.com/RealAlexHeil">@RealAlexHeil</a>.
    </article>
  </section>
</main>
