<header>
  <nav>
    <div class="site-title">
      <a href="http://alexheil.rocks">alexheil<span class="site-title-thin">rocks</span></a>
    </div>
    <ul>
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to 'blog', posts_path %></li>
      <li><%= link_to 'junk I\'ve made', projects_path %></li>
    </ul>
  </nav>
</header>
