<header>
  <nav>
    <ul>
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to 'blog', posts_path %></li>
      <li><%= link_to 'junk I\'ve made', projects_path %></li>
    </ul>
  </nav>
</header>
